<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite verbose="1" name="Carina Demo Tests - Rozetka Web" thread-count="4">

    <parameter name="suiteOwner" value="todynyuk"/>
    <parameter name="feature" value="web"/>

    <test name="Search brand name and price verifying">
        <classes>
            <class name="com.qaprosoft.carina.demo.RozetkaTests">
                <methods>
                    <include name="testVerifySearchBrandNameMaxCustomPriceAndAvailable"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Item color ram and price verifying">
        <classes>
            <class name="com.qaprosoft.carina.demo.RozetkaTests">
                <methods>
                    <include name="testVerifyItemColorRamAndPrice"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Matrix type and processor verifying">
        <classes>
            <class name="com.qaprosoft.carina.demo.RozetkaTests">
                <methods>
                    <include name="testVerifyItemRamMatrixTypeAndProcessor"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Sort verifying">
        <classes>
            <class name="com.qaprosoft.carina.demo.RozetkaTests">
                <methods>
                    <include name="testVerifySortByPrice"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Added to basket verifying">
        <classes>
            <class name="com.qaprosoft.carina.demo.RozetkaTests">
                <methods>
                    <include name="testVerifyAddingAndCountGoodsInBasket"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Item prices verifying">
        <classes>
            <class name="com.qaprosoft.carina.demo.RozetkaTests">
                <methods>
                    <include name="testVerifyUsualPriceItemAndInBasket"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Chose city verifying">
        <classes>
            <class name="com.qaprosoft.carina.demo.RozetkaTests">
                <methods>
                    <include name="testVerifyChoseCityInDispensationPointsPage"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Basket is empty verifying ">
        <classes>
            <class name="com.qaprosoft.carina.demo.RozetkaTests">
                <methods>
                    <include name="testAddGoodsInBasketAndCheckItEmpty"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Adding to basket verifying ">
        <classes>
            <class name="com.qaprosoft.carina.demo.RozetkaTests">
                <methods>
                    <include name="testVerifyAddingAnItemToTheBasket"/>
                </methods>
            </class>
        </classes>
    </test>

</suite>